# Zu ignorierende Dateien für das git Projekt
#
# Erzeugte Grafiken
*.png
# Erzeugte STL Dateien
*.stl
# Erzeugte Daten Dateien von Octave
*.dat
# Cura Einstellungen
*.3mf
# Erzeugte svg Dateien
*.svg
# Erzugte dxf Dateien
*.dxf
# Erzeugte tex Dateien für die Formeln
*.tex
